# Backend Environment Configuration
PORT=8080
MONGO_URI=mongodb+srv://muthuvelus1334_db_user:Muthu@1334 @poll.tn6iq49.mongodb.net/?appName=Poll
MONGO_DB_NAME=poll
REDIS_URL=rediss://default:gQAAAAAABFz5AAIgcDFkZjhhMjg4MmE5MDQ0NjFjYWQyOGYzOWUyYmZiNjhhMQ@possible-filly-285945.upstash.io:6379
REDIS_PASSWORD=possible-filly-285945.upstash.io
JWT_SECRET=production-grade-jwt-secret-key-guvi-hcl-2026
CLIENT_ORIGIN=http://localhost:5173
